{% extends 'app/base.html' %} {% load static %} {% block title %}Gins{% endblock title %} {% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'gins' %}" class="list-group-item list-group-item-action" aria-current="true">All Gins</a>
                <a href="{% url 'gindata' 'Gin' %}" class="list-group-item list-group-item-action" aria-current="true">Gin</a>
                <a href="{% url 'gindata' 'below' %}" class="list-group-item list-group-item-action">Below $ 20</a>
                <a href="{% url 'gindata' 'above' %}" class="list-group-item list-group-item-action">Above $ 20</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                {% for gin in gins %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' gin.id %}" class="btn">
                        <div class="item">
                            <img src="{{ gin.product_image.url }}" alt="" height="300" class="">
                            <div class="fw-bold">{{ gin.title }}</div>
                            <div class="fw-bold">$ {{ gin.get_discounted_price }}</div>
                            <small class="fw-light text-decoration-line-through">{{ gin.selling_price }}</small>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}